.file-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.file-item img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.file-item div {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.file-item span {
  font-size: 12px;
}

.file-action-btn {
  margin-left: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}


.toggle-btn {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.message-history {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  border-radius: 5px;
}

.message-history p {
  margin: 0;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}
